In [17]:
#!pip install Levenshtein

Collecting Levenshtein
  Downloading Levenshtein-0.21.1-cp310-cp310-win_amd64.whl (100 kB)
     -------------------------------------- 101.0/101.0 kB 2.9 MB/s eta 0:00:00
Collecting rapidfuzz<4.0.0,>=2.3.0
  Downloading rapidfuzz-3.1.2-cp310-cp310-win_amd64.whl (1.8 MB)
     ---------------------------------------- 1.8/1.8 MB 11.6 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein
Successfully installed Levenshtein-0.21.1 rapidfuzz-3.1.2

In [1]:
import pandas as pd
import numpy as np
#from difflib import SequenceMatcher

In [2]:
def preprocess(x):
    to_delete = "()[];?"
    if type(x) != str:
        return "Unknown"
    else:
        for c in to_delete:
            x = x.replace(c,"")
        x = x.strip()
        return x.title()

In [4]:
dish = pd.read_csv("Dish.csv")

In [5]:
dish['name'] = dish['name'].apply(preprocess)

In [6]:
dish.to_csv("Dish_stage1.csv",index=False)

In [7]:
menu = pd.read_csv("Menu.csv")
for col in ['name','sponsor','event','venue','place','occasion','notes','location']:
    menu[col] = menu[col].apply(preprocess)

In [8]:
menu.to_csv("Menu_stage1.csv",index=False)

In [16]:
menuitem = pd.read_csv("MenuItem.csv")
menuitem.dropna(how='any',inplace=True)
menuitem.to_csv("MenuItem_stage1.csv",index=False)
menuitem

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
4,5,3079,0.50,1.0,5.0,2011-03-28 15:21:26 UTC,2011-04-13 15:25:27 UTC,0.105714,0.313178
21,24,3079,1.50,3.0,23.0,2011-03-29 15:39:11 UTC,2011-04-13 15:26:01 UTC,0.081429,0.470795
74,82,3079,0.75,1.5,75.0,2011-04-13 15:42:30 UTC,2011-04-13 15:42:30 UTC,0.101429,0.323457
75,83,3079,2.00,4.0,76.0,2011-04-13 15:43:23 UTC,2011-04-13 15:43:23 UTC,0.084286,0.481759
135,145,1291,0.75,1.5,133.0,2011-04-14 21:33:56 UTC,2011-04-14 21:33:56 UTC,0.107143,0.742283
...,...,...,...,...,...,...,...,...,...
1332548,1385729,72293,0.10,1.0,380790.0,2017-06-09 20:38:44 UTC,2017-06-09 20:38:44 UTC,0.333333,0.070508
1332584,1385765,72293,0.25,1.0,441592.0,2017-06-09 20:47:19 UTC,2017-06-09 20:47:19 UTC,0.049333,0.258225
1332715,1385896,72293,0.15,0.4,776.0,2017-06-09 21:20:03 UTC,2017-06-09 21:20:03 UTC,0.166667,0.887304
1332716,1385897,72293,0.25,0.4,777.0,2017-06-09 21:20:16 UTC,2017-06-09 21:20:16 UTC,0.597333,0.890051
1332717,1385898,72293,0.25,0.4,423510.0,2017-06-09 21:20:37 UTC,2017-06-09 21:20:37 UTC,0.249333,0.903787

In [101]:
menupage = pd.read_csv("MenuPage.csv")
menupage

,id,menu_id,page_number,image_id,full_height,full_width,uuid
0,119,12460,1.0,1603595,7230.0,5428.0,510d47e4-2955-a3d9-e040-e00a18064a99
1,120,12460,2.0,1603596,5428.0,7230.0,510d47e4-2956-a3d9-e040-e00a18064a99
2,121,12460,3.0,1603597,7230.0,5428.0,510d47e4-2957-a3d9-e040-e00a18064a99
3,122,12460,4.0,1603598,7230.0,5428.0,510d47e4-2958-a3d9-e040-e00a18064a99
4,123,12461,1.0,1603591,7230.0,5428.0,510d47e4-2959-a3d9-e040-e00a18064a99
...,...,...,...,...,...,...,...
66932,77427,35526,6.0,5194216,2772.0,2341.0,cc70ae50-6212-0132-8b23-58d385a7bbd0
66933,77428,35526,7.0,5194217,2772.0,2301.0,cc844a40-6212-0132-6ead-58d385a7bbd0
66934,77429,35526,8.0,5194218,2763.0,2530.0,cc985890-6212-0132-9cd3-58d385a7bbd0
66935,77430,35526,1.0,5194219,5440.0,5237.0,e51c88c0-6212-0132-ef5e-58d385a7bbd0
66936,77431,35526,2.0,5194220,5466.0,5237.0,e5361730-6212-0132-04e2-58d385a7bbd0

In [9]:
# def missingPage(s):
#     l = sorted(list(s))
#     if l[0] != 1:
#         return True
#     for x,y in zip(l,l[1:]):
#         if y - x != 1:
#             return True
#     return False

In [10]:
# temp = menupage.groupby('menu_id').agg({'page_number':set}).reset_index()
# temp['missingPage'] = temp['page_number'].apply(lambda x:missingPage(x))

In [11]:
# temp[temp['missingPage'] == True]

       menu_id                                        page_number  missingPage
5810     21467                                         {1.0, 3.0}         True
6068     21725  {32.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0,...         True
6250     21907                          {1.0, 2.0, 4.0, 5.0, 6.0}         True
6605     22265  {2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,...         True
8267     23936                               {1.0, 2.0, 4.0, 5.0}         True
...        ...                                                ...          ...
18243    33953                                         {1.0, 4.0}         True
18311    34021                          {2.0, 3.0, 4.0, 5.0, 6.0}         True
19186    34897                                         {1.0, 7.0}         True
19256    34967  {1.0, 2.0, 3.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,...         True
19761    35472                                         {1.0, 3.0}         True

[1070 rows x 3 columns]

In [80]:
def combine_categories(x):
    if x.startswith("0THER") or x.startswith("OTHER"):
        return "OTHER"
    if len(x) > 0 and x[0].isnumeric():
        return "ANNIVERSARY"
    if x.startswith("ANN"):
        return "ANNIVERSARY"
    if "EASTER" in x:
        return "EASTER"
    if "HOLIDAY" in x:
        return "HOLIDAY"
    if "RITE" in x:
        return "RITE"
    return "OTHER"